image:
  repository: "$IMAGE_REPO"
  tag: "$IMAGE_TAG"

imagePullSecrets: []

replicas: 2

securityContext:
  enabled: false
  runAsUser: 1001
  runAsGroup: 1001
  fsGroup: 1001
  runAsNonRoot: true
  fsGroupChangePolicy: "OnRootMismatch"

resources:
  requests:
    cpu: 100m
    memory: "50Mi"
  limits:
    cpu: 300m
    memory: "100Mi"

secretsNamespace: default

platform:
  clusterName: ""
  authUrl: https://staging.neu.ro
  eventsUrl: http://platform-events:8080/apis/events
  token: {}

ingress:
  enabled: false
  ingressClassName: ""
  hosts: []
  annotations: {}

service:
  annotations: {}

secrets: []

externalSecrets: []
  # - name: platform-admin-secret
  #   secretStoreName: vault-backend
  #   secretStoreKind: ClusterSecretStore
  #   data:
  #     DATABASE_URL:
  #       key: kv-v2/platform
  #       property: DATABASE_URL
  #     API_KEY:
  #       key: kv-v2/platform
  #       property: API_KEY

sentry:
  appName: platform-secrets
  sampleRate: 0.01

priorityClassName: ""
